<div class="container">
  <h2>{{title}}</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" [(ngModel)]="user.userName" name="userName">
          </div>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="user.email" name="email">
          </div>
        </div>
        <div class="radio">
          <label>Gender
          </label><br>
          <!-- Default inline 1-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline1" name="gender" value="Male"
            [(ngModel)]="user.gender">
            <label class="custom-control-label" for="defaultInline1">Male</label>
          </div>

          <!-- Default inline 2-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline2" name="gender" value="Female"
            [(ngModel)]="user.gender">
            <label class="custom-control-label" for="defaultInline2">Female</label>
          </div>
        </div><br><br>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div *ngIf="submitted">
    <h3>User data</h3>
    <div class="col-xs-12" *ngFor="let user of users">
      <p>Username : {{ user.userName }}</p>
      <p>Mail : {{ user.email }}</p>
      <p>Gender : {{ user.gender }}</p>
      <br>
    </div>
  </div>
</div>